<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div th:if="${passwordReset}">
                <div th:if="${passwordReset == 'true'}" class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="#{resetPassword.success.message}"></p>
                </div>
                <div th:if="${passwordReset == 'false'}" class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="${message}"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- login form -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center" th:text="#{forgotmypassword.fill.in.below}"></h1>
            <p class="lead text-center" th:text="#{resetPassword.p.lead}"></p>
            <div class="well">
                <form id="savePasswordForm" th:action="@{/changeuserpassword}" method="post" role="form">
                    <input type="hidden" name="principal_id" id="principal_id" th:value="${principalId}" />
                    <div class="form-group">
                        <label th:text="#{login.password.text}" for="password"></label>
                        <input type="password" class="form-control" id="password" name="password"/>
                    </div>

                    <div class="form-group">
                        <label th:text="#{login.confirm.password}" for="password"></label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" th:text="#{forgotmypassword.save.new.text}" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-script"/>

</body>
</html>
