<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">

    <div class="jumbotron">
        <div class="text-center">
            <h1 th:text="#{index.h1.text}"></h1>
            <p th:text="#{index.p.lead}" class="lead"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 th:text="#{index.basic.membership}" class="text-center"></h2>
                <h4 th:text="#{index.h4.basic.membership}"></h4>
                <br/>
                <a class="btn btn-primary btn-lg btn-block"
                   th:href="@{/signup?planId=1}"
                   th:text="#{index.basic.signup.button}"></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 th:text="#{index.pro.membership}" class="text-center"></h2>
                <h4 th:text="#{index.h4.pro.membership}"></h4>
                <br/>
                <a class="btn btn-success btn-lg btn-block"
                   th:href="@{/signup?planId=2}"
                   th:text="#{index.pro.signup.button}"></a>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-script"/>

</body>
</html>
